


body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background-color: #fafafa;
    color: $readable-grey;

    /*sticky footer*/
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
    flex-direction: column;
}

h1 {
    margin: .3em 0;
}
.main-wrapper {

    width: 100%;
    max-width: 1280px;
}

a {
    color: $link_blue;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:active {
        text-decoration: underline;
    }
} /*end a*/


.centered {
    display: block;
    margin: auto;
    padding-top: 1em;
}

.inner-wrapper {
    margin: 10px;
}

.inner-wrapper-header {
    max-width: 670px;
}

.page-copy {
    padding: 1rem 0 1rem 0;
    line-height: 1.7rem;

    .login-page & {
        padding-top: 2em;
    }
} /*end page-copy*/

.centered-copy {
    text-align: center;
}
